
<ul>
<% @groups.each do |group| %>
    <% group.users.each do |user| %>
      <% unless user.id == current_user.id %>
        <li>
        <%= user.nickname %>
        <%= link_to "トークルーム", group_messages_path(group.id)%>
        </li>
      <% end %>
    <% end %>
<% end %>
</ul>