<div class="container-fluid">

 <div class="jumbotron" body bgcolor="#fff0f5" >
   <div class="container-fluidyokoso">
    <h1>ようこそ！ママトモひろばへ</h1>
     <p>ママ友が欲しいけど、面倒な付き合いはしたくないと思っているあなた。
        大丈夫です。事前にどんなママとどんな付き合い方がしたいのか情報を交換して、安心してママ友を見つけましょう。</p><br>
     <div >
     <p>早速ママ友を探してみましょう！</p>
    <p><a class="btn btn-primary btn-lg" href="/users/search" role="button">ママ友を探す</a></p>
     </div>
  </div>
 </div>

<div>
<h2>新着ママ友<h2>

 <%= render partial: "user", collection: @users %>

 </div>


</div>
