
<div class="container-fluid">
<header class="header header--section">
<h2 class="text-middle">
<i class="icon-movie color-gray-light"></i>検索結果
</h2>
</header>
<%= render partial: "user", collection: @users %>

