<div class="contents row" >
  <p>新しく入ったママさん</p>
 <% @mamas.each do |mama| %>
   <ul class="thumbnails thumbnail--movies row grid4 js-lazy-load-images js-my-check-stats" id="list-module">
    <li class="text-small">
     <a href="/mamas/<%= mama.id %>"><div class="thumbnail__figure"></div></a>
                    <div class="thumbnail__caption">
                      <h3 class="text-xsmall text-overflow" title="<%= product.title %>">
                        <%= product.title %>
                      </h3>
                      <p class="text-small">
                       <% if product.reviews.present? %>
                        <span class="rating-star">
                          <i class="star-actived rate-<%= product.review_average %>0"></i>
                        </span>
                       <% else %>
                       <span class="rating-star">
                          <i class="star-actived rate-0"></i>
                       </span>
                       <% end %>
                      </p>
                    </div>
                  </li>
                <% end %>
              </ul>
            </div>