// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
  font-family: 'funwari';
  src: font-url('funwari-round.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.container-fluidyokoso h1 {
  font-family: 'funwari';
  color: OrangeRed;
}

.showname-box-1 h2 {
  font-family:"丸ゴシック体" ,sans-serif;
}

.prof a {
  text-align : center ; }

.form-group {
  text-align : center ;
}

.mama-box {
    background: -webkit-repeating-linear-gradient(-45deg, #f5edfd, #f5edfd 5px, #fdfcff 5px, #fdfcff 10px);
    background: repeating-linear-gradient(-45deg, #f5edfd, #f5edfd 5px, #fdfcff 5px, #fdfcff 10px);
    color: #4a1086;
    margin: 2em 0;
    padding: 1px;
}